<ion-toolbar>
  <ion-title>Edit Item</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="dismissModal()">
      Close
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-grid fixed *ngIf="produk">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <!-- FORM STYLE -->
        <form style="margin-top: -50px;
                    padding: 60px;"
              #form="ngForm" (ngSubmit)="onSubmitUpdate(form)">
              <!-- (ngSubmit)="onSubmit(form)" -->

          <ion-text style="margin-bottom: 10px;"><h2><b>Edit Barang</b></h2></ion-text>
          <ion-text style="color: #9d9fa6; font-size: 12px;"><p>mengubah informasi detail produk.</p></ion-text>

          <!-- NAMA PRODUK -->
          <ion-item>
            <ion-label position="floating" color="medium">Nama Produk*</ion-label>
            <ion-input type="text" ngModel name="nampro" required minlength="4" #namproCtrl="ngModel" [ngModel]="produk.nama"></ion-input>
          </ion-item>
          <ion-item *ngIf="!namproCtrl.valid && namproCtrl.touched">
            <ion-icon color="danger" name="alert-circle-outline"></ion-icon>
            <ion-label color="danger" style="font-size: small">Nama Produk minimal 4 karakter.</ion-label>
          </ion-item>
          <!--  -->

          <!-- MERK PRODUK -->
          <ion-item>
            <ion-label position="floating" color="medium">Merk*</ion-label>
            <ion-input type="text" ngModel name="merkpro" required minlength="2" #merkproCtrl="ngModel" [ngModel]="produk.merk"></ion-input>
          </ion-item>
          <ion-item *ngIf="!merkproCtrl.valid && merkproCtrl.touched">
            <ion-icon color="danger" name="alert-circle-outline"></ion-icon>
            <ion-label color="danger" style="font-size: small">Nama Produk minimal 2 karakter.</ion-label>
          </ion-item>
          <!--  -->

          <!-- HARGA PRODUK -->
          <ion-item>
            <ion-label position="floating" color="medium">Harga*</ion-label>
            <ion-input type="number" name="hargapro" required ngModel #hargaproCtrl="ngModel" placeholder="contoh: 10000" [ngModel]="produk.harga"></ion-input>
          </ion-item>
          <ion-item *ngIf="!hargaproCtrl.valid && hargaproCtrl.touched">
            <ion-icon color="danger" name="alert-circle-outline"></ion-icon>
            <ion-label color="danger" style="font-size: small">Harga wajib diisi tanpa simbol.</ion-label>
          </ion-item>
          <!--  -->

          <!-- KATEGORI PRODUK -->
          <ion-item>
            <ion-label position="floating" color="medium">Kategori Produk*</ion-label>
            <ion-select [compareWith]="compareWith" value="{{findCategory(produk.categoryId).name}}" interface="popover" name="mainCategory" required (ionChange)="setSubCategory(maincat)" [(ngModel)]="maincat">
              <ion-select-option [value]="maincat" *ngFor="let maincat of mainCategories">{{maincat.name}}</ion-select-option>

            </ion-select>
          </ion-item>
          <!--  -->

          <!-- SUBKATEGORI PRODUK -->
          <ion-item>
            <ion-label position="floating" color="medium">Sub-kategori Produk*</ion-label>
            <ion-select interface="popover" required name="subCategory" (ionChange)="getSubCategory(subcat)" [(ngModel)]="subcat">
                <ion-select-option [value]="subcat" *ngFor="let subcat of selectedSubCat">{{subcat.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <!--  -->

          <!-- UKURAN PRODUK -->
          <ion-item>
            <ion-label position="floating" color="medium">Ukuran*</ion-label>
            <ion-input type="text" name="ukuran" required ngModel #ukuranCtrl="ngModel" placeholder="contoh: 10gram" [ngModel]="produk.size"></ion-input>
          </ion-item>
          <ion-item *ngIf="!ukuranCtrl.valid && ukuranCtrl.touched">
            <ion-icon color="danger" name="alert-circle-outline"></ion-icon>
            <ion-label color="danger" style="font-size: small">Ukuran wajib diisi.</ion-label>
          </ion-item>
          <!--  -->

          <!-- SATUAN PRODUK -->
          <ion-item>
            <ion-label position="floating" color="medium">Satuan*</ion-label>
            <ion-input type="text" name="satuan" required ngModel #satuanCtrl="ngModel" placeholder="contoh: pcs/pak/dus..." [ngModel]="produk.satuan"></ion-input>
          </ion-item>
          <ion-item *ngIf="!satuanCtrl.valid && satuanCtrl.touched">
            <ion-icon color="danger" name="alert-circle-outline"></ion-icon>
            <ion-label color="danger" style="font-size: small">Satuan wajib diisi.</ion-label>
          </ion-item>
          <!--  -->

          <!-- DESKRIPSI PRODUK -->
          <ion-item>
            <ion-label position="floating" color="medium">Deskripsi*</ion-label>
            <ion-textarea name="deskpro" required minlength="25" ngModel #deskproCtrl="ngModel" placeholder="ceritakan produk anda.." [ngModel]="produk.desc"></ion-textarea>
          </ion-item>
          <ion-item *ngIf="!deskproCtrl.valid && deskproCtrl.touched">
            <ion-icon color="danger" name="alert-circle-outline"></ion-icon>
            <ion-label color="danger" style="font-size: small">Minimal 25 karakter.</ion-label>
          </ion-item>
          <!--  -->
        
          <!-- FOTO URL -->
          <ion-item>
            <ion-label position="floating" color="medium">Foto URL*</ion-label>
            <ion-input type="text" name="fotpro" required minlength="20" ngModel #fotproCtrl="ngModel" placeholder="contoh: www.linkfoto.com/produk.jpg" [ngModel]="produk.thumb[0]"></ion-input>
          </ion-item>
          <ion-item *ngIf="!fotproCtrl.valid && fotproCtrl.touched">
            <ion-icon color="danger" name="alert-circle-outline"></ion-icon>
            <ion-label color="danger" style="font-size: small">Wajib diisi min.20 karakter.</ion-label>
          </ion-item>
          <!--  -->

          <!-- FOTO URL KEDUA -->
            <ion-item *ngIf="produk.thumb[1]">
              <ion-label position="floating" color="medium">FotoURL-2</ion-label>
              <ion-input type="text" name="fotpro2" minlength="20" ngModel #fotpro2Ctrl="ngModel" placeholder="(opsional)" [ngModel]="produk.thumb[1]"></ion-input>
            </ion-item>
          <!--  -->

          <!-- SUBMIT CONTROLLER -->
          <ion-button style="margin-top: 50px;" type="submit" color="success" expand="block" [disabled]="!form.valid">Edit Barang</ion-button>
          
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
