ion-toolbar {
  //   --ion-toolbar-background-color: transparent;
  //   --ion-toolbar-text-color: white;
  --background-color: transparent;
  --ion-color-base: transparent !important;
  padding: 10px;
  box-shadow: none;
}
