<ion-content>

  <!-- HEADER NO LOGIN -->
  <div class="header" *ngIf="!profile">
    <div class="header-title" >
      <h6>Welcome</h6>
      <h2>Guest</h2>
    </div>
    <div class="avatar">
      <ion-img src="assets/images/user.svg"></ion-img>
    </div>
  </div>
  <!-- HEADER -->
  <div class="header" *ngIf="profile">
    <div class="header-title" >
      <h6>Welcome</h6>
      <h2>{{profile.name}}</h2>
    </div>
    <div class="avatar">
      <ion-img src="{{profile.imageUrl}}"></ion-img>
    </div>
  </div>


  <!-- custom search -->
  <ion-row class="sticky-searchbar">
    <ion-col size="9">
      <ion-searchbar (search)="searchData($event)" placeholder="Cari Produk"></ion-searchbar>
    </ion-col>
    <ion-col size="3">
      <ion-buttons class="ion-no-margin">
        <ion-button fill="clear" *ngIf="!profile" [routerLink]="['/a-signin']">
          <ion-icon name="heart" slot="icon-only" color="danger"></ion-icon>
        </ion-button>
        <ion-button fill="clear" *ngIf="profile" [routerLink]="['/tabs/favorites']">
          <ion-icon name="heart" slot="icon-only" color="danger"></ion-icon>
        </ion-button>
        <ion-button fill="clear" [routerLink]="['/tabs/faq']">
          <ion-icon name="alert-circle" slot="icon-only" color="secondary"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
    

  </ion-row>



  <!-- SEARCHBAR -->
  <!-- <app-searchbar></app-searchbar> -->


  <!-- SEGMENT CATEGORIES -->
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-segment scrollable="true" (ionChange)="segmentChanged($event)" >
          <ion-segment-button *ngFor="let segcat of categories" value="{{segcat.key}}">
            <ion-label>{{segcat.altname}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- CATEGORY -->
  <!-- <div class="categories">
    <app-main-category *ngFor="let item of categories" [catList]="item"></app-main-category>
  </div> -->

  <!-- PRODUCTS -->
  <!-- <ion-grid>
    <ion-row>
      <ion-col col-2 *ngFor="let produk of products">
        <ion-card>
          <ion-row>
            <img [src]="produk.thumb">
          </ion-row>
          <ion-card-content>
            <ion-label>
              <p>Rp.{{produk.harga|number:'1.0'}}</p>
              <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
            </ion-label>
            <h2>{{produk.nama}}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- <ion-card *ngFor="let produk of products">
    <img [src]="produk.thumb">
    <ion-card-content>
      <ion-label>
        <p>Rp.{{produk.harga|number:'1.0'}}</p>
        <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
      </ion-label>
      <h2>{{produk.nama}}</h2>
    </ion-card-content>
  </ion-card> -->

  <!-- <h2 class="list-header">All Item</h2> -->
  <div class="product-list" >
    <div class="card" *ngFor="let produk of products" >
      <ion-img [src]="produk.thumb[0]" [routerLink]="['/','tabs','detail', produk.key]"></ion-img> 
      <div class="card-content" [routerLink]="['/','tabs','detail', produk.key]">
        <h3 class="title">{{produk.nama}}</h3>
        <h2 class="subtitle"><sup>Rp.</sup>{{produk.harga | number:'1.0'}}</h2>
        <ion-buttons *ngIf="!profile">
          <ion-button >
            <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-buttons *ngIf="profile">
          <ion-button [routerLink]="null" *ngIf="!isFavOrUnfav(profile.favorites, produk.key)" (click)="favItem(produk.key)">
            <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button [routerLink]="null" *ngIf="isFavOrUnfav(profile.favorites, produk.key)" (click)="unfavItem(produk.key)">
            <ion-icon name="heart" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>
  </div>

  
  <!-- <ion-content>
    <div *ngFor="let catlist of categories">
      <ion-card>
        <img src="{{catlist.thumb}}">
        <ion-card-header>
          <ion-card-subtitle>ini sebuah category</ion-card-subtitle>
          <ion-card-title>{{catlist.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </ion-content> -->

</ion-content>