ion-grid {
  padding: 0 !important;
}

ion-row ion-col {
  padding: 0;
}

.apartemen-item {
  border-radius: 0.75rem;
  margin-bottom: 0.75rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
}

.img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.detail-container {
  height: 100%;
  display: block;
  flex-flow: row wrap;
  // align-content: space-around;
  padding: 0.5rem;

  h5 {}

  h6 {
    margin-bottom: 0.7rem;
  }

  h3 {
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: #ffb800;
    margin-top: 0;

    sup {
      font-size: 1rem;
      margin-right: 2px;
    }

  }

}

.no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "----";
}

.apart-name {}

.apart-addr {
  font-size: small;
  color: var(--ion-color-medium);
}

.apart-price {
  font-size: small;
  color: var(--ion-color-warning);
  font-weight: bold;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
