<!-- <ion-header>
  <ion-toolbar>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <h3 class="cartTitle">{{(cartItem$|async).length}} Item dalam Keranjang</h3>

  <!-- CART ITEMS -->
  <ion-list lines="none">
    <ion-item-sliding *ngFor="let item of cartItem$|async">
      <ion-item>
        <app-cart-item style="--background: #c7c7c7" [item]="item" (increase)="onIncrease(item)" (decrease)="onDecrease(item)"></app-cart-item>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="removeFromCart(item)">
          <ion-icon name="trash-outline" size="large" color="danger"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>  
  </ion-list>

  <!-- EMPTY CART text -->
  <div class="empty-cart" *ngIf="!(cartItem$|async).length">
    <ion-icon name="cart"></ion-icon>
    <p>Your cart is currently Empty!</p>
  </div>

  <!-- CHECKOUT BUTTON -->
  <div class="caraHapus" *ngIf="(cartItem$|async)">
    <p>*Geser ke kiri untuk menghapus produk</p>
  </div>

  <div class="opsiBayar ion-no-margin"  *ngIf="(cartItem$|async)">
    <ion-item>
      <ion-label>Metode Pembayaran</ion-label>
      <ion-select placeholder="Pilih" (ionChange)="getPaymentOption($event)">
        <ion-select-option value="COD">COD</ion-select-option>
        <ion-select-option value="OVO">OVO</ion-select-option>
        <ion-select-option value="GoPay">GoPay</ion-select-option>
        <ion-select-option value="ShopeePay">ShopeePay</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <app-custom-button *ngIf="(cartItem$|async).length" (click)="submitOrder()">
    Total: <span><sup>Rp.</sup>{{totalAmount$|async|number: '1.0'}}</span>
  </app-custom-button>
</ion-content>
