<ion-header>
  <ion-toolbar>
    <ion-title>Transaction Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        CLose
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="orderModal" style="margin-left: 2rem; margin-right: 2rem;;margin-top: 1rem;">
    
      
        <ion-row class="header-title">
          <ion-col class="title-icon" size="2" center text-center>
            <ion-icon style="color: #FA4A44;" *ngIf="!orderModal.isAccepted && !orderModal.isCompleted" class="iconBelanja" name="alert-circle"></ion-icon>
            <ion-icon style="color: #F6DE0F;" *ngIf="orderModal.isAccepted && !orderModal.isCompleted" class="iconBelanja" name="cart"></ion-icon>
            <ion-icon style="color: #0FA958;" *ngIf="orderModal.isAccepted && orderModal.isCompleted" class="iconBelanja" name="bag-check"></ion-icon>
          </ion-col>
          <ion-col size="6" left text-left>
            <ion-text *ngIf="orderModal.isAccepted && orderModal.isCompleted" class="title-belanja">Selesai</ion-text>
            <ion-text *ngIf="orderModal.isAccepted && !orderModal.isCompleted" class="title-belanja">Sedang Dikirim</ion-text>
            <ion-text *ngIf="!orderModal.isAccepted && !orderModal.isCompleted" class="title-belanja">Pending</ion-text>
            <div class="title-tgl">{{getTanggal(orderModal.timeOrdered)}}, {{getW4ktu(orderModal.timeOrdered)}}</div>
          </ion-col>
          <ion-col size="4" center text-center>
            <ion-button *ngIf="profile.isadmin === 'admin' && orderModal.isAccepted === false" (click)="prosesOrder(profile.isadmin, orderModal.key)">
              proses
            </ion-button>
            <ion-button *ngIf="profile.isadmin === 'admin' && orderModal.isAccepted === true && orderModal.isCompleted === false" (click)="prosesOrder(profile.isadmin, orderModal.key)">
              Selesai
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-item>
          <div class="pembeliInfo">
          <ion-text>Pembeli   : <b>{{pembeliNama}}</b></ion-text> <br>
          <ion-text>Dikirim Ke: <b>{{pembeliAlamat}}</b></ion-text> <br>
          <ion-text *ngIf="orderModal.opsibayar">Metode Pembayaran: <b>{{orderModal.opsibayar}}</b></ion-text>
          </div>
        </ion-item>

        <ion-item lines="none" *ngFor="let items of orderModal.productsOrdered | keyvalue">
          <div class="detBarang">
            <div class="pic-first">
              <ion-avatar>
                <img src="{{findItem(items.key.toString()).thumb}}" />
              </ion-avatar>
                <div class="firstProd">
                  <h5 class="ion-no-margin">{{findItem(items.key.toString()).nama}}</h5>
                  <ion-text>Qty: {{items.value}} x {{findItem(items.key.toString()).harga}}</ion-text>
                </div>
            </div>
          </div>
        </ion-item>

        <ion-footer>
          <ion-row>
            <ion-col size="4" top text-left>
              <div class="jumlahTotal">Jumlah Total</div>
            </ion-col>
            <ion-col size="8" center text-center>
              <div class="harga">Rp. {{orderModal.totalPrice | number:'1.0'}}</div>
            </ion-col>
          </ion-row>
        </ion-footer>
      
    
    
  </ion-card>


</ion-content>

